min.bbprojectd/project.bbprojectdata
min.bbprojectd/richard.bbprojectsettings
min.bbprojectd/Scratchpad.txt
min.bbprojectd/Unix Worksheet.worksheet
.DS_Store
min.bbprojectd/project.lockfile
min.bbprojectd/project.lockfile
min.bbprojectd/project.lockfile
_site/_assets/js/Fujifilm X-Series film recipes - 2022-04-05 - Recipes.numbers
