min.bbprojectd/project.bbprojectdata
min.bbprojectd/richard.bbprojectsettings
min.bbprojectd/Scratchpad.txt
min.bbprojectd/Unix Worksheet.worksheet
.DS_Store
min.bbprojectd/project.lockfile
min.bbprojectd/project.lockfile
min.bbprojectd/project.lockfile
_site/_assets/js/Fujifilm X-Series film recipes - 2022-04-05 - Recipes.numbers
1996/burn.psd
index2.markdown
min.bbprojectd/Chat Worksheet.bbaiworksheet
min.bbprojectd/configuration.plist
min.bbprojectd/WebSiteSettings.plist
index copy.markdown
.ruby-version
_includes/head.html
reports/batting-records/a-beswick.md
reports/batting-records/a-gallagher.md
reports/batting-records/e-garland.md
reports/batting-records/i-marshall.md
reports/batting-records/j-grant.md
reports/batting-records/m-goff.md
reports/batting-records/m-gupta.md
reports/batting-records/p-wigg.md
reports/batting-records/r-beswick.md
reports/batting-records/r-damaze.md
reports/batting-records/s-barrowcliff.md
reports/batting-records/s-hornsby.md
reports/batting-records/w-calvert.md
reports/r_earney_yearly_batting.csv
reports/top10_batters_yearly.csv
reports/top10_bowlers_yearly.csv
reports/_profile-record-audit.md
/reports
*.bbaiworksheet
ScorecardMacApp/.build/.lock
ScorecardMacApp/.build/arm64-apple-macosx/debug/description.json
ScorecardMacApp/.build/arm64-apple-macosx/debug/index/store/v5/records/00/CGPath.h-3DVYUU27CCS00
ScorecardMacApp/.build/arm64-apple-macosx/debug/index/store/v5/records/01/CIFeature.h-30GS87W4L2H01
ScorecardMacApp/.build/arm64-apple-macosx/debug/index/store/v5/records/01/NSTextContent.h-1AEIMULZZQK01
ScorecardMacApp/.build/arm64-apple-macosx/debug/index/store/v5/records/02/hashtable2.h-2ZAXIKA97KZ02
ScorecardMacApp/.build/arm64-apple-macosx/debug/index/store/v5/records/02/NSLinguisticTagger.h-3S4TIO7R5KE02
ScorecardMacApp/.build/arm64-apple-macosx/debug/index/store/v5/records/03/SKDocument.h-UJ5M6QHQUV03
ScorecardMacApp/.build/arm64-apple-macosx/debug/index/store/v5/records/04/NSPersistentCloudKitContainerEvent.h-1NS6YHBWD7Q04
ScorecardMacApp/.build/arm64-apple-macosx/debug/index/store/v5/records/05/NSStatusBarButton.h-IWLX2Q55JI05
ScorecardMacApp/.build/arm64-apple-macosx/debug/index/store/v5/records/06/CFStringEncodingExt.h-18V15AY5HKG06
ScorecardMacApp/.build/arm64-apple-macosx/debug/index/store/v5/records/06/search.h-3T9YDPJL80K06
ScorecardMacApp/.build/arm64-apple-macosx/debug/index/store/v5/records/07/OSMessageNotification.h-30YYXURWVQ907
ScorecardMacApp/.build/arm64-apple-macosx/debug/index/store/v5/records/08/libproc.h-2VS4G4U05AT08
ScorecardMacApp/.build/arm64-apple-macosx/debug/index/store/v5/records/08/reloc.h-3UH16P46OES08
ScorecardMacApp/.build/arm64-apple-macosx/debug/index/store/v5/records/0A/ATSUnicodeGlyphs.h-U399UXZWX70A
ScorecardMacApp/.build/arm64-apple-macosx/debug/index/store/v5/records/0A/NSAutoreleasePool.h-37940G0M6DZ0A
update_profiles.py
