/* reset */

input,
select,
textarea,
fieldset,
optgroup,
label,
#card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* submit */

[type="submit"] {
	background-color: #0c5b97 !important;
	width: 288px !important;
	min-height: 44px !important;
	border-radius: 6px !important;
	color: white !important;
	padding: .75em 1rem !important;
}

label {
	color: $primary-color;
}

placeholder {
	color: #ccc;
}

label,
legend,
::placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */

input,
textarea,
#card-element {
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 6px;
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}

input:focus,
select:focus,
textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: #ccc;
  outline-offset: -1px;
}

[type="text"],
[type="email"] {
  width: 100%;
}

[type="button"],
[type="submit"],
[type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

[type="button"]:focus,
[type="submit"]:focus,
[type="reset"]:focus {
  outline: none;
}

[type="submit"],
[type="reset"] {
  margin-bottom: 0;
}

select {
  text-transform: none;
}

[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */

fieldset.locale input[name="city"],
fieldset.locale select[name="state"],
fieldset.locale input[name="postal-code"] {
  display: inline;
}

fieldset.locale input[name="city"] {
  width: 52%;
}

fieldset.locale select[name="state"],
fieldset.locale input[name="postal-code"] {
  width: 20%;
}

fieldset.locale input[name="city"],
fieldset.locale select[name="state"] {
  margin-right: 3%;
}