/* Default colour for links to Temple Red */

$purple-000: #b30000 !important;
$purple-100: #990000 !important;
$purple-200: #800000 !important;
$purple-300: #660000 !important;

$link-color: $purple-300;

#1982-fixtures td:nth-child(1), #1982-fixtures table td:nth-child(2),#1982-fixtures table td:nth-child(4), #1982-fixtures th:nth-child(1), #1982-fixtures th:nth-child(1), #1982-fixtures th:nth-child(2), #1982-fixtures th:nth-child(4),{
	width: 15% !important;
}

/* Slightly tighter spacing on table cell padding */

th,
td {
  @include fs-3;
  min-width: 100px;
  padding-top: $sp-1;
  padding-right: $sp-2;
  padding-bottom: $sp-1;
  padding-left: $sp-2;
  background-color: $table-background-color;
  border-bottom: $border rgba($border-color, 0.5);
  border-left: $border $border-color;

  &:first-of-type {
    border-left: 0;
  }
}

tbody {
  tr {
    &:last-of-type {
      th,
      td {
        border-bottom: 0;
      }

      td {
        padding-bottom: $sp-2;
      }
    }
  }
}