/* Default colour for links to Temple Red */

$purple-000: #b30000 !important;
$purple-100: #990000 !important;
$purple-200: #800000 !important;
$purple-300: #660000 !important;

$link-color: $purple-300;

$content-width: 1000px;